<div class="max-w-2xl mb-20 mx-auto sm:px-6 lg:px-8">
    <div class="overflow-hidden shadow-md">
        <div class="px-6 py-4 bg-white border-b border-gray-200 font-bold uppercase">
            {{ post.title }}
        </div>
        <div class="p-6 bg-white border-b border-gray-200">
            {{ post.content |slice(0,500) }}...
        </div>
        <div class="p-6 bg-white border-gray-200 text-right">
            <a class="bg-blue-500 shadow-md text-sm text-white font-bold py-3 md:px-8 px-4 hover:bg-blue-400 rounded uppercase"
               href="#">Lire l'article</a>
        </div>
    </div>
</div>
